-
  var teams = [
    { img: './assets/images/home/team/ai-development.svg  ',
      title: 'AI DEVELOPMENT',
      subtitle: 'Девелопер',
      text: 'Девелоперська компанія, заснована досвідченими фахівцями у сфері нерухомості та бізнесу, гарантує надійність і професіоналізм на кожному етапі проєкту. Засновники компанії – Ігор Дідик, що має власну агенцію нерухомості та великий досвід на ринку, та Андрій Бабула, що вже 10 років займається заготівлею, переробкою, оптовою та роздрібною торгівлею продуктів харчування.',
    },
    { img: './assets/images/home/team/baust logo.svg',
      title: 'BAUST ARCHITECTS',
      subtitle: 'Проєктує',
      text: `
        <p>Baust architects — архітектурне бюро, мета якого — змінити якість життя людей, проєктуючи зручний, безпечний та гарний простір. Ми захоплені ідеєю змінити Україну та світ навколо на краще через те, що ми робимо. У нас є бачення процесу і кінцевого результату. Ми створюємо унікальні архітектурні концепції для бізнес-об’єктів та доводимо їх до реалізації. Клієнт має надати текст</p>
      `,
    },
    { img: './assets/images/home/team/dzen-logo.svg',
      title: 'DZEN MANAGEMENT COMPANY ',
      subtitle: 'Керує',
      text: `
        <p>Готельна керівна компанія нового покоління, що створює простори для балансу та усвідомленого життя. Ми управляємо мережею унікальних резиденцій, де духовність зустрічає продуктивність, а відпочинок стає трансформаційним досвідом.</p>
      `,
    },
    { img: '',
      title: '',
      subtitle: '',
      text: ``,
    }
  ]
#team.team
  .team__bg
    img(src="./assets/images/home/team/BG.jpg", alt="", srcset="" loading="lazy")
  .team__content
    .team__title.text-style-1920-h-2.text-style-768-h-2.text-style-375-h-2.color-white-light(data-split-lines-new-animation) Команда проекту
    each val in teams
      .team__item
        .team__item-img
          if val.img
            img(src=val.img, alt=val.title  loading="lazy")
        .team__item-text
          .team__item-title.text-style-1920-h-5.color-white-light= val.title
          .team__item-subtitle.text-style-1920-small-buttons.color-white-bb= val.subtitle
          .team__item-description.text-style-1920-body.color-white-bb !{val.text}
          if val.instagram
            a(href=val.instagram.href, target="_blank", class="team__item-link").button-small.team__item-button
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.0029 5C13.8266 5 14.0609 5.00758 14.7861 5.04199C15.5268 5.07472 16.0452 5.19588 16.5039 5.37305C16.9871 5.55507 17.4272 5.84158 17.791 6.20996L17.5898 6.41504L17.7949 6.21387L17.9287 6.35156C18.2354 6.68652 18.4731 7.07577 18.6348 7.50293C18.8123 7.95976 18.9331 8.48117 18.9658 9.22168C18.9976 9.9447 19 10.179 19 12.001C19 13.8248 18.9917 14.0584 18.96 14.7803C18.9273 15.5218 18.8062 16.041 18.6289 16.5C18.2508 17.4776 17.4778 18.2508 16.5 18.6289C16.043 18.8066 15.5214 18.9273 14.7803 18.96C14.0579 18.9918 13.8245 19 12 19C10.1756 19 9.94201 18.9918 9.21973 18.96C8.47871 18.9273 7.95983 18.8071 7.50098 18.6299C7.01702 18.4475 6.57606 18.1603 6.21191 17.791L6.21387 17.792L6.41602 17.5869L6.21094 17.7891L6.21191 17.791C5.84283 17.4272 5.55621 16.989 5.37109 16.5C5.1936 16.0433 5.07273 15.5217 5.04004 14.7812C5.00831 14.059 5 13.8251 5 12.001C5 10.1776 5.00757 9.9438 5.04199 9.21875C5.0747 8.47806 5.19585 7.95971 5.37305 7.50098C5.53264 7.07775 5.77237 6.6874 6.07715 6.35254L6.20996 6.21387L6.41602 6.41504L6.21387 6.20996C6.57831 5.83827 7.01646 5.55447 7.50391 5.37012C7.9606 5.19283 8.48212 5.07269 9.22266 5.04004C9.945 5.00832 10.1784 5 12.0029 5ZM11.999 8.68359C10.1687 8.68379 8.68379 10.1687 8.68359 11.999C8.68359 13.8296 10.1686 15.3152 11.999 15.3154C13.8297 15.3154 15.3154 13.8297 15.3154 11.999C15.3152 10.1685 13.8296 8.68359 11.999 8.68359ZM16.0527 6.47363C15.239 6.47363 14.5791 7.13326 14.5791 7.94727C14.5792 8.76105 15.239 9.4209 16.0527 9.4209C16.8665 9.42084 17.5263 8.76104 17.5264 7.94727C17.5264 7.13326 16.8666 6.47369 16.0527 6.47363Z" fill="#808060"/>
              </svg>
              span #{val.instagram.title}
